body{

    background-color: #221c38;
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
}

body{

        background-image: url("img/BackgroundBS.png");
        background-repeat: no-repeat;
        background-size: 40rem 40rem;
        background-position: center 30%;
        background-attachment: fixed;
        
}

body h1{
    margin-left: 14rem;
    margin-top: -10rem;
}

.jogos img {
    margin-top: 4rem;
    width: auto;
    height: 7rem;
    box-sizing: border-box;
    position: absolute;
    margin-left: 12rem;
}


figcaption {
    text-align: center;
    font-style: arial;
    margin-top: 0rem;
    font-size: bold;
    color: white;

  }

.linha1{
    position: absolute;
    display:flex;
    margin-top: 12rem;
    justify-content:space-between;
    padding-left: 7rem;
}

.linha2{
    position: absolute;
    display:flex;
    top: 27rem;
    justify-content:space-between;
    padding-left: 7rem;
}

.Titulo{
    position: absolute;
    text-align: center;
    font-style: arial;
    margin-top: 16rem;
    margin-left: 8rem;
    font-size: bold;
    color: white;
}

.img-container img:hover {
    cursor: pointer;
    transition: transform 0.4s ease;
    transform: scale(1.2); 
}